<div class="testimonail-slick-carousel">
   <div class="testimonail-slick slick-slider"> 
     {% for row in rows %}
         <div class="slick-slide">{{ row.content }}</div>
      {% endfor %}
   </div>
</div>      
